body{
	font-family: 'Bree Serif', serif;
}

.header1{
   padding:20px;
   color: white;
   background-color: #003a69;
   border-bottom: 2px solid #00579e;

 }
.form{
	width:25rem;
}

#formDiv{
	border: 2px solid grey;
	width:30rem;
	padding:10px;
	margin:20px;
}
#flexContainer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card{
	color: #002646;
	margin:20px;
	background-color: #BCBEC0;
	border: 2px 2px 2px #00579e;
}