body{
	font-family: 'Bree Serif', serif;
}

.header1{
   padding:20px;
 }
.form{
	width:25rem;
}

#formDiv{
	border: 2px solid grey;
	width:30rem;
	padding:10px;
	margin-left:20px;
}
#flexContainer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card{
	color:#25584f;
}